
*{
  
    box-sizing: border-box;
    margin:0 ;
    padding:0 ;
    border:0;

}
body{
    overflow: hidden;
    position: relative;

}


.title {
color:white;
font-size:50px;
font-family: 'Nunito Sans', sans-serif;
text-align: center;
z-index: 9;
position: absolute;
margin: auto;

margin-top: 210px;
margin-left: 120px;
margin-right: 120px;

}

.name{
font-size: 15px;
position: absolute;
z-index: 9;
color: white;
margin-top: 450px;
margin-left: 46.6vw;
margin-right: 46.6vw;
}

.subname{
    font-size: 15px;
    position: absolute;
    z-index: 9;
    margin-top: 500px;
    margin-left: 41vw;
    margin-right: 41vw;
    color: white;

}
.subname02{
    font-size: 15px;
    position: absolute;
    z-index: 9;
    margin-top: 530px;
    margin-left: 44vw;
    margin-right: 44vw;
    color: white;

}

canvas{
    position: absolute;
    width: 100%;
    height: 100vh;
    background:#000 ;
}
.dg.ac{
    display: none;
}
.container{
    z-index: 9;
    color: white;
    position: absolute;
    padding-top: 40%;
}

@keyframes fadein{
    0%{opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


.button{
    padding-top: 10%;
    position: absolute;
    z-index: 9;
}

a{
padding: 5px;
color: whitesmoke;
text-decoration: none;
border-radius: 0;


border:solid;



font-family: 'Rajdhani', sans-serif;
font-family: 'Redressed', cursive;

}

a:hover{
background-color: rgb(158, 157, 75);
}

