*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body{
    height: 100%;
}

body{
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    background-color: papayawhip;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
}

.container{
    display: flex;
    flex-direction: column;
}

main,
header,
footer{
    padding: 20px;
    border:1px solid #000000;
    color:#141414;
}

header,
footer{
    line-height: 60px;
}

main{
    flex: 1;
}

.filters,
.list{
    padding:20px;
    border: 2px solid #141414;
    width: 100%;
}

.filter-btn{
    color: white;
    background-color: #f15b31;
    border-radius: 20px;
    width: 100px;
    height: 30px;
    text-align: center;
    border: none;
}

.filter-btn.active{
    border-color: #16b5ef;
    background: #16b5ef;
}

ul{
    display: flex;
    justify-content: space-between;
}

ul .card.hide{
    display: none;
}

@keyframes fly{
    0% { opacity: 0}
    100% { opacity: 1}
}

ul .card.show{
    animation: fly 0.5s ease;
}



li{
    list-style-type: none;
    border: 2px solid #141414;
    padding: 10px;
    margin: 10px;
    width: 20%;
}

img{
    width: 300px;
}

