*{
    box-sizing: border-box;
    margin:0 ;
    padding:0 ;
    border:0;
}

body, html{
    font-family: 'Open Sans', sans-serif;
}


button{
    font-size: 20px;
    background-color: rgb(228, 155, 222);
    position:absolute;
}

a{
    padding: 5px;
    color: black;
    text-decoration: none;
    border-radius: 15px;
    
}

a:hover{
    background-color: rgb(97, 199, 240);
}
 
.container{
    display:flex;
    justify-content: space-around;
    background-image: linear-gradient(rgb(228, 155, 222), rgb(228, 233, 166))
    
}

.left{
    padding: 30px;
    
    
}

.right{
    
    padding: 30px;
    padding-top: 80px;
    font-family: 'Dancing Script', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Rajdhani', sans-serif;
    font-family: 'Rowdies', cursive;
}

.head_left{
    font-size: 40px;
    color:rgb(59, 26, 241);
    text-align: center;
    text-transform:uppercase;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Rowdies', cursive;
    
}

.head_right{
    font-size: 50px;
    text-align: center;
    text-transform:uppercase;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Rowdies', cursive;
    color:rgb(102, 10, 121);
    font-family: 'Dancing Script', cursive;
}

.subhead{
    text-align:center;
    font-family: 'Dancing Script', cursive;
}

.line1{
    border-bottom: 5px solid ;
    display:block;
    border-bottom-color: linear-gradient(rgb(228, 155, 222), rgb(228, 233, 166))
}

.line2{
    border-bottom: 5px solid ;
    display:block;
    border-bottom-color: linear-gradient(rgb(228, 155, 222), rgb(228, 233, 166))
}

.capital ::first-letter{
    font-size: 48px;
}

.capital{
    color:rgb(76, 113, 180);
   
}

.capital :hover{
    background-color: rgb(243, 235, 243);
    color: rgb(26, 30, 31);
    padding:3px;
    background-image: linear-gradient(rgb(133, 203, 235), rgb(210, 155, 247))
}

.capital1 ::first-letter{
    font-size: 48px;
}

.capital1{
    color:rgb(36, 133, 133);
   
}

.capital1 :hover{
    background-color: rgb(243, 235, 243);
    color: rgb(26, 30, 31);
    padding:3px;
    background-image: linear-gradient(rgb(198, 206, 93), rgb(81, 221, 135))
}