
*{
  
        box-sizing: border-box;
        margin:0 ;
        padding:0 ;
        border:0;
   
}
body{
   
    background-image: url('../image/2493466.jpg');

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;

}


.container{
    font-size: 20px;
    background-color: transparent;
    text-align: center;

    display: flex;
    display: grid;
    
}

a{
    padding: 5px;
    color: whitesmoke;
    text-decoration: none;
    border-radius: 10px;
    
    
    border:solid;
    
    

    font-family: 'Rajdhani', sans-serif;
    font-family: 'Redressed', cursive;
    
}

a:hover{
    background-color: rgb(158, 157, 75);
}

