* {
padding:0;
margin: 0;
box-sizing: border-box;
}

html,
body{
    height: 100%;
}

body{
    background: papayawhip;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul{
    display: flex;
    list-style: none;
    
    justify-content: space-around;
    line-height:  50px;
    background: gray;
    
    
    
}

.haha {
    color: white;
    text-decoration: none
    ;
}
.button{
    background: green;
    width:60px;
    text-align: center;
    cursor: pointer;


}

.button:hover{
    background: red;
    transition-duration: 2s;
    transition-delay: 1s;


}



a.menu{
    text-decoration: none;
    background: yellow;
    transition: background 0.5s ease-in 0.5s;
}

a.menu:hover{
    animation: colors 3s ease-in 0.3s;

    
}

h1:hover{
    animation: colors 0.5s  ease-in infinite;
}

@keyframes colors {
    0% { transform: scale(0.2); background:white ;}
    30% {transform: scale(0.5);background:  gray;}
    60% {transform: scale(1);  background: green;}
    100% {transform: scale(1.5);background:  black;}
}



header, footer, main{
    padding: 20px;
    border: 1px solid #000000;
    color: #141414;
}

.flex-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
}

header, footer{

    line-height: 60px;
    background: yellow;
   
}

main{
    flex: 1;
    
   
}


.pp{
    color: red;
    font-style: italic;
    font-size: 1.68em;
    line-height: 1.4em;
    padding:15px 0
}

p{
    line-height: 1.55em;
}

.image img{
    width: 100%;
    
}

@media (min-width:480px) {
    .flex-container{
        height: 100%;

    }

    header,footer{
        background: yellow;
    }
    main{
        display: flex;
        flex-direction: column;
        background: pink;
    }

    .image img{
        height: 260px;
        object-fit: cover;
        object-position: 0% 40%;
    }
    .column{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}

@media (min-width:960px) {
    .flex-container{
        background: green;
        height: 100%;

    }

    header,footer{
        background: white;
    }
    main{
      
        background: gray;
     
    }
    section{
        display: flex;
      
    
    
    
    }
    .image img{
      
        height: 560px;
        object-fit: cover;
        object-position: 20% 40%;
    }
    .column{
        display: flex;
        flex-direction: column;
    
    }
}