*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,
body {

}

.container{
   display: flex;
   flex-direction:column;


}

.main{
    display:flex;
    height:60%;

}

.head{
    background: rgb(118, 118, 252);
    background-size: cover;
    height:20%;
    padding:10px;
    text-align: center;

}

button{
    font-size: 20px;
    background-color: transparent;
    position:absolute;
    padding:5px;
    border-color: transparent;
}

a{
    padding: 5px;
    background: transparent;
    color:black;
    border-color: transparent;
    text-decoration: none;
    border-radius: 15px ;
    
}

a:hover{
    background-color: rgb(97, 199, 240);
}

.left{
    background: rgb(116, 116, 97);
    background-size: cover;
    padding: 20px;
}

.right{
    background:rgb(97, 136, 97);
    background-size: cover;
    padding: 20px;px;
}

.foot{
    background:rgb(209, 161, 169);
    background-size: cover;
    height:20%;
    padding:10px;
    text-align: center;
}

h2, h5{
    text-align: center;
}

@media (max-width:900px){
    .main{
        flex-direction:column;
        height: 60%;
    }
    .left{
        width:100%;
    
    }
    .right{
        width:100%;
   
    }
}